<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css')}}"
</head>

<body >
    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
            <a href="/"><img src="static/images/bose-logo.png"></a>
        </div>
    </div>

    <div class="posts">
        <h1 class="content-subhead">Original Post</h1>

        <h1>{{title}}</h1>
        <div class="options">{{content}}</div>
    </div>

    <div class="posts">
        <h1 class="content-subhead">Comments</h1>

        <div class="comments">
        {% set count = 0 %}
        {% for com in comments %}
            <div class="single-comment">
                <h3>Comment {{count}}</h3>
                {{com}}
                {% set count = count + 1 %}
            </div>
        {% endfor %}
        </div>
        <h1 class="content-subhead">What are your thoughts?</h1>
        <form class="pure-form pure-form-aligned" method="post">
          <input name="comment", type="text", class="newcomment" placeholder="Comment">
          <input class="pure-button pure-button-primary" type="submit", value="Submit">

        </form>
    </div>
    <div style="margin-top: 100px;"></div>
</body>

</html>
